@import url('https://fonts.googleapis.com/css?family=Advent+Pro|Dancing+Script&display=swap');
*,::before,  ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }
    
    body{
        height: 100vh;
        font-family: Arial, Helvetica, sans-serif;
    }

    /* ******************* TABLEAU ******************* */
    .tableau-style {
        border-collapse: collapse; 
        min-width: 400px;
        width: auto;
        box-shadow: 0 5px 50px rgba(red, green, blue, alpha);
        cursor:pointer;
        margin: 100px auto;
        border: 2px solid midnightblue;
        
    }
    
    thead tr{
        background-color: midnightblue;
        color: #fff;
        text-align: left;
    }
    
    th, td{
        padding: 15px 20px;
    }

    tbody tr, td, th{
        border: 1px solid #DDD;
    }

    tbody tr{
        background-color: #f3f3f3;
    }

    /* ******************* NAVBAR ******************* */
nav {
    overflow: hidden;
    background-color: whitesmoke;
    position:static;
    width: 100%;
    opacity: 0.9;
}
header li {
    float: left;
    font-size: 1.2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:black;
}

header li a {
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 18px 16px;
  }

  h1 {
    font-family: 'Dancing Script', cursive;
    text-align: center;
    color:black;
    font-size: 4em;
    
    text-shadow: 1px 3px 2px white;
  }


/* ******************* Img principale******************* */
#imagePrincipale {
    padding-top: 60px;
    background: url(img/fond_ecran_historique.jpg) no-repeat fixed 50% 50%;
    background-size: cover;
    height: auto;
    
}

#premierTrait {
    height: 1px;
    width: 25%;
    margin: -3px auto;
    background-color:black;
    box-shadow: 1px 3px 2px black;
}