@import url('https://fonts.googleapis.com/css?family=Advent+Pro|Dancing+Script&display=swap');

 /* ******************* NAVBAR ******************* */
 nav {
    overflow: hidden;
    background-color: whitesmoke;
    position:static;
    width: 100%;
    opacity: 0.9;
}
header li {
    float: left;
    font-size: 1.2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:black;
}

header li a {
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 18px 16px;
  }

  h1 {
    font-family: 'Dancing Script', cursive;
    text-align: center;
    color:black;
    font-size: 6em;
    
    text-shadow: 1px 3px 2px white;
  }

  /* ******************* Img principale******************* */
#imagePrincipale {
    padding-top: 60px;
    background: url(img/paramètres.jpg) no-repeat fixed 50% 50%;
    background-size: cover;
    height: 800px;
    
}

#premierTrait {
    height: 1px;
    width: 25%;
    margin: -3px auto;
    background-color:black;
    box-shadow: 1px 3px 2px black;
}
